
/* ======== Grid layout ======== */

/* Main grid */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";

    @include for-md-screen {
        grid-template-columns: 65px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header header"
        "nav main"
        "nav main";
    }
}

.container-full,
.container-half {
    margin: 0 auto;
    width: 95vw;
}

.main-header {
    grid-area: header;
}

.main-nav {
    grid-area: nav;
}

.main-content {
    grid-area: main;
    display: grid;
}

/* Widget Grid */


    .grid-container 
    .main-content {
        @include for-md-screen{
        grid-template-columns: 50%;
        grid-template-rows: auto;
        }
    }

    .widget-header,
    .traffic,
    .social-container {
        @include for-md-screen{
            grid-column: 1 / span 2;
        }
    }

    .daily-traffic {
        @include for-md-screen {
            grid-column: 1 / span 1;
        }
    }
    .new-members,
    .messages {
        @include for-md-screen {
            grid-column: 1 / span 2;
        }
        @include for-lg-screen {
            grid-column: 1 / span 1;
        }
    }

    .mobile-users {
        @include for-md-screen {
            grid-column: 2 /span 1;;
        }
    }
    .recent-activity,
    .settings {
        @include for-md-screen {
            grid-column: 1 / span 2;
        }
        @include for-lg-screen {
            grid-column: 2 /span 1;;
        }
    }

    .social {
        @include for-md-screen {
            display: inline-flex;
        }
    }

    .container-full {
        @include for-md-screen {
            width: 90vw;
        }
    }

    .container-half {
        @include for-md-screen {
            width: 45vw;
        }
    }
