.main-header {
    
    height: 75px;
    display: flex;
    background-color: $color-primary;
    color:$color-font-head;
}

.alert-container {
    display: flex;
    align-self: center;
    height: 40px;
    width: 40px;
    border-right: 1px solid lightgrey;
}

.main-header h1 {
    align-self: center;
    padding-left: 10px;
    flex-basis: 50%;
    font-size: 1.25rem;
    font-weight: 300;
    @include for-lg-screen {
        flex: 0 0 80%;
    }
}

.bell {
    display: inline;
    margin-right: 10px;
    align-self: center;
    fill: white;
}

.profile {
    margin-right: 5px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-self: center;
}

.main-header h2 {
    align-self: center;
    flex-basis: 35%;
    font-size: .7rem;
    font-weight: 200;
}

