.main-header {
    max-width: vw;
    height: 75px;
    display: flex;
    background-color: $color-primary;
    color:$color-font-head;
}

.alert-container {
    display: flex;
    align-self: center;
    height: 40px;
    width: 50px;
    padding-right: 10px;
    border-right: 1px solid lightgrey;
}

#notification-badge {
    height: 7px;
    width: 7px;
    background-color: limegreen;
    border-radius: 50%;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#notifications {
    display: none;
    position: absolute;
    top: 60px;
    background-color: white;
    border: 2px solid $color-secondary;
    border-radius: 5px;
    animation: opacity .3s ease-in;
    color: $color-primary;
    z-index: 3;
}

#notifications ul {
    list-style: none;
    padding: 0 25px;
}
#notifications li {
    padding: 0 25px;
    padding: 15px 0;
}

#notifications li:nth-child(2) {
    border-top: 1px solid $color-primary;
}

.main-header h1 {
    align-self: center;
    padding-left: 10px;
    flex-basis: 50%;
    font-size: 1.25rem;
    font-weight: 300;
    @include for-md-screen {
        flex: 0 1 75%;
    }
    @include for-lg-screen {
        flex: 0 1 70%;
    }
}

@keyframes wiggle {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

.bell:hover {
    animation: wiggle .4s ease backwards;
}

.bell {
    display: inline;
    padding-right: 5px;
    align-self: center;
    fill: white;
}

.profile {
    margin-right: 5px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-self: center;
}

.main-header h2 {
    align-self: center;
    flex: 0 0 30%;
    font-size: .7rem;
    font-weight: 200;
    @include for-md-screen {
        flex: 0 0 12%;
    }
}

