.main-nav {
    display: flex;
    height: 60px;
    padding: 0 30px;
    background-color: $color-secondary;
    @include for-md-screen {
        display: block;
        height: auto;
        padding: 0;
    }
}

.main-nav a {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
    @include for-md-screen {
        margin: 20px 0;
    }
}

a svg {
    align-self: center;
}

.home,
.charts,
.users,
.settings {
    fill: white;
}

