
/* ======== Alert Banner ======== */

.alert {
    padding: 10px;
    @include for-md-screen{
        width: calc(100vw - 85px);
        padding: 5px 15px;
    }
}
.alert-banner {
    display: flex;
    padding: 5px;
    color: #fff;
    background-color: $color-primary;
    border-radius: 5px;
    @include for-md-screen {
        text-align: center;
        padding: 0 10px;
    }
}
.alert-banner-close {
    flex: 0 0 15%;
    text-align: right;
    padding-right: 10px;
    margin-top: 5px;
    @include for-md-screen {
        flex: 0 0 20%;
    }
}

.alert-banner-close:hover {
    cursor: pointer;
}

.alert-banner-message {
    margin-top: 5px;
    @include for-md-screen {
        flex: 0 0 80%;
        text-align: left;
    }
}


/* ======== Widget Header ======== */

.widget-header {
    display: flex;
    height: 60px;
}

.dash-head {
    align-self: center;
    padding-left: 10px;
    flex: 0 1 33%;
    font-size: 1rem;
    font-weight: 400;
}

.main-header-search {
    flex: 0 1 67%;
    @include for-lg-screen {
        flex: 1 0 85%;
    }
}

.main-header-search input {
    width: 100%;
    height: 60px;
    padding-right: 0;
    padding-left: 10px;
    border-top: none;
    border-right: none;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* ======== Traffic Widget ======== */

/* Traffic Chart Head */

.traffic {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.traffic-chart-head {
    @include for-md-screen {
        display: flex;
    }
}

.traffic-chart-head h3 {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 400;
    @include for-md-screen {
        flex-basis: 55%;
    }
}

.traffic-chart-head ul {
    padding: 0 10px
}

fieldset {
    border: none;
    @include for-lg-screen {
        margin-left: 200px;
    }
}

.switch-toggle input + label {
    padding: 0;
}
.switch-toggle.switch-ios, .switch-light.switch-ios > span {
    background-color: lightgrey;
    width: 300px;
}


/* Traffic Chart */

/* ======== Daily Traffic Widget ======== */

.daily-traffic {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.daily-traffic h3 {
    margin-left: 10px;
    font-weight: 400;
}

/* ======== Mobile Users ======== */ 

.mobile-users {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

.mobile-users h3 {
    margin-left: 10px;
    font-weight: 400;
}

/* ======== Social Stats ======== */

.social-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    @include for-md-screen {
        justify-content: space-around;
    }
}

.social-container h3 {
    margin-left: 10px;
    font-weight: 400;
    @include for-md-screen {
        width: 100%;
    }
}

.social {
    display: flex;
    flex-basis: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: $color-input-background;
    @include for-md-screen {
        flex-basis: 30%;
        margin: 5px;
    }
}

.social-icon {
    display: block;
    justify-content: center;
    width: 65px;
    height: 65px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: $color-primary;
}

.social-icon svg {
    display: block;
    margin: 0 auto;
    transform: translateY(50%);
}

.social-site {
    font-size: 1.2rem;
    margin: 5px;
    color: $color-secondary;
}

.social-number {
    margin: 5px;
    font-size: 2rem;
    font-weight: 200;
}

.facebook,
.instagram,
.twitter {
    fill: white;
}

/* ======== New Members ======== */ 

.member-container {
    margin-left: 10px;
    margin-right: 10px;
}

.member-container:nth-child(5) {
    border-bottom: none;
}

.new-members,
.recent-activity {
    border-bottom: 1px solid lightgrey;
}

.new-members h3 {
    margin-left: 10px;
    font-weight: 400;
}

.member-container {
    margin-top: 15px;
    height: 150px;
    border-bottom: 1px solid lightgrey;
    @include for-md-screen {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }
}

.profile-image {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    @include for-md-screen {
        margin-left: 0;
        margin-right: 10px;
    }
}

.member-info,
.date, 
.member-activity {
    font-size: .85rem;
    text-align: center;
}

.date {
    @include for-md-screen {
        flex-basis: 10%;
    }
}

.member-info {
    @include for-md-screen {
        flex-basis: calc(90% - 75px);
        text-align: left;
    }
}

.member-info p {
    margin-bottom: 0;
}

.date {
    margin: 5px 20px 0 20px;
    padding-bottom: 15px;
}

/* ======== Recent Activity ======== */

.recent-activity h3 {
    margin-left: 10px;
    font-weight: 400;
}

.member-activity p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.member-activity{
    margin: 5px 20px 0px 20px;
    padding-bottom: 10px;
    @include for-md-screen {
        flex-basis: calc(100% - 75px);
        margin-left: 0;
        text-align: left;
    }
}

/* ======== Message User ========*/

.messages {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.messages h3 {
    margin-left: 10px;
    font-weight: 400;
}

.form-input, 
.send-button {
    display: block;
    width: calc(100% - 20px);
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

input {
    height: 50px;
    background-color: $color-input-background;
}

textarea {
    height: 150px;
    background-color: $color-input-background;
}

.send-button {
    height: 50px;
    background-color: $color-primary;
    color: white;
}

#results {
    list-style: none;
    display: none;
    position: absolute;
    width: 100%;
    padding-left: 0;
    cursor: pointer;
    transform: translate3d(5px, -30px, 0);
    background-color: #e9e0ff;
    border-radius: 5px;
    @include for-lg-screen {
        transform: translate3d(10px, -30px, 0);
        width: 46%;
    }
}

#results li {
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid lightgrey;
}

/* ======== Settings ======== */

.settings {
    padding-right: 10px;
}

.settings h3 {
    margin-left: 10px;
    font-weight: 400;
}

.switch-light {
    display: flex;
    margin: 25px 10px;
    @include for-lg-screen {
        padding: 5.25px 0;
    }
}


label span {
    float: right;
}

.settings-toggle {
    flex: 0 0 75%;
    font-size: .8rem;
    padding: 10px 15px;
    @include for-lg-screen {
        flex: 0 0 50%;
    }
}

.toggle-switch {
    width: 30px;
    justify-content: right ;
}

.toggles{
    margin-right: 25px;
    margin-bottom: 25px;
}

select {
    height: 50px;
    padding: 5px;
    background-color: $color-input-background;
}


.settings-buttons {
    display: flex;
}

.save-button,
.cancel-button {
    flex-basis: 50%;
    margin: 20px 10px;
    height: 50px;
    border-radius: 5px;
    color: white;
    border: 1px solid lightgrey;
}

.save-button {
    background-color: $color-primary;
}

.cancel-button {
    background-color: darkgrey;
}

.recent-activity,
.settings {
    @include for-lg-screen {
        border-left: 1px solid lightgrey;
    }
}

.switch-ios.switch-light > span{
    width: 25vw;
}


.switch-ios.switch-light input:checked ~ span a {
    border-color: $color-primary;
}

.switch-ios.switch-light input:checked ~ span {
    background-color: $color-primary;
    box-shadow: inset 0 0 30px $color-primary;
}